<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentGlobeK"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.StudentGlobeK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--define all the activities here-->
        <activity android:name=".presentation.activities.CreateChatroomActivity"/>
        <activity android:name=".presentation.activities.CreateEventActivity"/>
        <activity android:name=".presentation.activities.EditProfileActivity"/>
        <activity android:name=".presentation.activities.ChatroomActivity"/>
        <activity android:name=".presentation.activities.EventActivity"/>
        <activity android:name=".presentation.activities.LoginActivity"/>
        <activity android:name=".presentation.activities.SearchPeersActivity"/>
        <activity android:name=".presentation.activities.SignUpActivity"/>
        <activity android:name=".presentation.activities.VerifyAccountActivity"/>
        <activity android:name=".presentation.activities.ViewChatroomsActivity"/>
        <activity android:name=".presentation.activities.ViewEventsActivity"/>
        <activity android:name=".presentation.activities.LandingActivity"/>
        <activity android:name=".presentation.activities.ResetPasswordActivity"/>







    </application>

</manifest>